* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #8dd09c;
}

h1 {
  margin-bottom: 50px;
  font-size: 3rem;
}

.pads-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: rgb(183, 211, 187);
  padding: 3px;
  gap: 10px;
  border: 5px solid black;
  border-radius: 10px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.drum-pad {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  font-size: 3rem;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  background-color: #8dd09c;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

.drum-pad:hover {
  cursor: pointer;
}